* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@media (min-width: 300px) {
  .description-title {
    color: #000;
    text-align: center;
    font-family: "Hammersmith One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.logos {
  display: flex;
  padding-left: 30%;
  padding-top: 5%;
}

p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-family: Hammersmith One;
}

h3 {
  font-family: Hammersmith One;
}

.news-title {
  padding-top: 5%;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.download-title {
  color: #000;
  text-align: center;
  font-family: "Hammersmith One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 992px) {
  .download-content-desktop {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0%;
  }
  .description-title {
    font-size: 28px;
    font-weight: 400;
  }
  .download-title {
    font-size: 28px;
    font-weight: 400;
  }
}

@media (min-width: 992px) {
  .description-title {
    font-size: 36px;
    font-weight: 400;
    justify-content: flex-start;
    display: flex;
  }
  .description-content {
    font-size: 20px;
    margin: 2%;
    display: flex;
    justify-content: flex-start;
  }

  .logos {
    display: flex;
    justify-content: flex-start;
  }

  .download-content-mobile {
    display: none;
  }

  .download-content-mobile {
    font-size: 36px;
  }

  .logos {
    width: 100px;
  }
}
